{% extends 'news/default.html' %}
{% load custom_filters %}
{% block title %}
{% endblock title %}
<hr>
{% block content %}

<hr>
<p><h2>{{ new.title|censor }}</h2><p>
<p> {{ new.dateCreation|date:'d M Y' }}<p>
<p>{% if new.files %}
    <img src="{{ new.files.url }}"
    width="200"
     height="200"/>
    {% else %}
    <img src="../media/uploads/img.png"
    width="200"
    height="200"/>
    {% endif %}
    {{ new.text|censor }}<p>
<td>
</td>
<hr>
<td>
    <a class="btn btn-primary my-btn me-3" href="{% url 'Comments' new.id %}">Посмотреть комментарии</a>
    {% if user.is_authenticated %}
        <a class="btn btn-primary my-btn me-3" href="{% url 'addcomm' new.id %}">Добавить комментарий</a>
    {% else %}
        <a class="btn btn-primary my-btn me-3" href="user/login/">Добавить комментарий</a>
    {% endif %}


</td>
{% endblock content %}
